.margin-lr-5 {
    margin-left: 5%;
    margin-right: 5%;
}

.margin-tb-5 {
    margin-top: 5%;
    margin-bottom: 5%;
}

ul {
    list-style-type: none;
}

.hide {
    display: none;
}

.show {
    display: block;
}