iframe {
    display: block;
    border: none;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-left: 300px;
    width: calc(100% - 300px);
}

.iframe-width-300 {
    width: calc(100% - 300px);
}

.iframe-width-100 {
    width: 100%;
}

#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 2;
    cursor: pointer;
}

#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    /* display: inline-block; */
    padding: 3px;
    margin-right: 5%;
    float: right;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/*
--------------------------------------------------------------------------------------------------------------------------------------
--------------------------------------------------------------------------------------------------------------------------------------
*/

* {
    box-sizing: border-box;
}

.netflix-text {
    text-transform: uppercase;
}

.netflix-nav-btn {
    border: 0;
    background: transparent;
    cursor: pointer;
    font-size: 20px;
}

.netflix-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform .3s ease-in-out;
    width: calc(100% - 300px);
}

.netflix-nav.visible {
    transform: translateX(0);
}

.netflix-nav-black {
    background-color: rgb(34, 31, 31);
    width: 60%;
    max-width: 300px;
    min-width: 250px;
    transition-delay: .4s;
}

.netflix-nav-black.visible {
    transition-delay: 0s;
}

.netflix-nav-red {
    background-color: #8dc63f;
    transition-delay: .2s;
    width: 95%;
}

.netflix-nav-red.visible {
    transition-delay: .2s;
}

.netflix-nav-white {
    overflow: scroll;
    overflow-x: hidden;
    background-color: #fff;
    padding: 20px;
    position: relative;
    transition-delay: 0s;
    width: 95%;
}

.netflix-nav-white.visible {
    transition-delay: .4s;
}

.netflix-close-btn {
    opacity: 0.3;
    position: absolute;
    top: 40px;
    right: 30px;
}

.netflix-logo {
    width: 150px;
}

.netflix-list {
    border-top: 1px solid grey;
    list-style-type: none;
    padding: 0;
}

.netflix-list li {
    margin: 10px 0;
}

.netflix-list li a {
    color: rgb(34, 31, 31);
    /* font-size: 14px; */
    text-decoration: none;
}

.netflix-list ul {
    list-style-type: none;
    padding-left: 20px;
}

/* Social Panel Styles */

.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #8dc63f;
    border: 1px solid #8dc63f;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #ffffff;
    color: #8dc63f;
}

.floating-btn:focus {
    outline: none;
}

.open-report {
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    .social-panel-container.visible {
        transform: translateX(0px);
    }
    .floating-btn {
        right: 10px;
    }
}

.options__title {
    font-size: var(--font-size);
    font-weight: 500;
    margin-bottom: 5px;
}