#console {
    width: 150px;
    height: 150px;
    padding: 10px;
}

/* body {
    background-color: #212121;
} */

span.windowTitle {
    /*font-family: "Segoe UI";*/
    font-size: 50;
    width: 100px;
    height: 100px;
    position: relative;
    font-family: "Roboto";
    font-weight: bold
}

#refreshbtn {
    position: absolute;
    motion-rotation: 200px
}