/* 
    Created on : 29 Jul 2021, 21:34:06
    Author     : xhico
*/

span.hoverMessage {
    padding: 6px 6px;
    color: black; 
    font-weight:bold;
}

span.hoverMessage:hover {
    position: relative;
}

span[aria-label].hoverMessage:hover:after {
    content: attr(aria-label);
    font-size: 18px;
    padding: 8px 8px;
    position: absolute;
    left: 0;
    bottom: 125%;
    white-space: nowrap;
    background:#f8f9fa;
    border: 2px solid grey;
    border-radius: 5px;
}