/* 
    Created on : 29 Jul 2021, 21:34:06
    Author     : xhico
*/

/* ------------------------------------------------ */
/*                      Spelling                    */
/* ------------------------------------------------ */

spellerror {
    font-weight: bold;
    padding: 4px;
}

spellerror.shiny_red {
    background-color: red;
}

spellerror.shiny_orange {
    background-color: orange;
}

/* ------------------------------------------------ */
/*                  Accessibility                   */
/* ------------------------------------------------ */

.accessibilityerror_shiny_red {
    outline: 2px dashed red !important;
    box-shadow: 0 0 10px red;
    animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}