/* 
    Created on : 29 Jul 2021, 21:34:06
    Author     : xhico
*/

spellerror {
    font-weight: bold;
    padding: 4px;
}

spellerror.shiny_red {
    background-color: red;
}

spellerror.shiny_orange {
    background-color: orange;
}