/*
    Created on : 23 Jul 2021, 10:38:17
    Author     : xhico
*/

@import "../fonts/inter/style.css";

:root {
    --lfi-green-rgb: 22, 103, 19;
    --lfi-blue-rgb: 49, 94, 127;
    --lfi-bg-opacity: 1;
}

html, body {
    height: 100%;
}

body * {
    font-family: 'Inter Regular';
}

.lf-nav-fixed #layoutSidenav #layoutSidenav_nav, .lf-nav-fixed .lf-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

#layoutSidenav {
    display: flex;
}

#layoutSidenav #layoutSidenav_nav {
    flex-basis: 200px;
    flex-shrink: 0;
    transition: transform 0.15s ease-in-out;
    z-index: 1038;
    transform: translateX(-200px);
}

#layoutSidenav #layoutSidenav_content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
    flex-grow: 1;
    min-height: calc(100vh - 56px);
    margin-left: -200px;
}

.lf-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
}

.lf-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 1037;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
    #layoutSidenav #layoutSidenav_nav {
        transform: translateX(0);
    }

    #layoutSidenav #layoutSidenav_content {
        margin-left: 0;
        transition: margin 0.15s ease-in-out;
    }

    .lf-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
        transform: translateX(-200px);
    }

    .lf-sidenav-toggled #layoutSidenav #layoutSidenav_content {
        margin-left: -200px;
    }

    .lf-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
        display: none;
    }
}

.lf-nav-fixed .lf-topnav {
    z-index: 1039;
}

.lf-nav-fixed #layoutSidenav #layoutSidenav_nav {
    width: 200px;
    height: 100vh;
    z-index: 1038;
}

.lf-nav-fixed #layoutSidenav #layoutSidenav_nav .lf-sidenav {
    padding-top: 56px;
}

.lf-nav-fixed #layoutSidenav #layoutSidenav_nav .lf-sidenav .lf-sidenav-menu {
    overflow-y: auto;
}

.lf-nav-fixed #layoutSidenav #layoutSidenav_content {
    padding-left: 200px;
    top: 56px;
}

.nav .nav-link .lf-nav-link-icon, .lf-sidenav-menu .nav-link .lf-nav-link-icon {
    margin-right: 0.5rem;
}

.lf-topnav {
    padding-left: 0;
    height: 56px;
    z-index: 1039;
}

.lf-topnav .navbar-brand {
    width: 200px;
    margin: 0;
}

.lf-topnav.navbar-dark #sidebarToggle {
    color: rgba(255, 255, 255, 0.5);
}

.lf-sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: nowrap;
}

.lf-sidenav .lf-sidenav-menu {
    flex-grow: 1;
    padding: 0.75rem;
}

.lf-sidenav .lf-sidenav-menu .nav {
    flex-direction: column;
    flex-wrap: nowrap;
}

.lf-sidenav .lf-sidenav-menu .nav .lf-sidenav-menu-heading {
    padding: 1.75rem 1rem 0.75rem;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
}

.lf-sidenav .lf-sidenav-menu .nav .nav-link {
    display: flex;
    align-items: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    position: relative;
}

.lf-sidenav .lf-sidenav-menu .nav .nav-link .lf-nav-link-icon {
    font-size: 0.9rem;
}

.lf-sidenav .lf-sidenav-menu .nav .nav-link .lf-sidenav-collapse-arrow {
    display: inline-block;
    margin-left: auto;
    transition: transform 0.15s ease;
}

.lf-sidenav .lf-sidenav-menu .nav .nav-link.collapsed .lf-sidenav-collapse-arrow {
    transform: rotate(-90deg);
}

.lf-sidenav .lf-sidenav-menu .nav .lf-sidenav-menu-nested {
    margin-left: 1.5rem;
    flex-direction: column;
}

.lf-sidenav .lf-sidenav-footer {
    padding: 0.75rem;
    flex-shrink: 0;
}

.lf-sidenav-dark {
    background-color: #212529;
    color: rgba(255, 255, 255, 0.5);
}

.lf-sidenav-dark .lf-sidenav-menu .lf-sidenav-menu-heading {
    color: rgba(255, 255, 255, 0.25);
}

.lf-sidenav-dark .lf-sidenav-menu .nav-link {
    color: rgba(255, 255, 255, 0.5);
}

.lf-sidenav-dark .lf-sidenav-menu .nav-link .lf-nav-link-icon {
    color: rgba(255, 255, 255, 0.25);
}

.lf-sidenav-dark .lf-sidenav-menu .nav-link .lf-sidenav-collapse-arrow {
    color: rgba(255, 255, 255, 0.25);
}

.lf-sidenav-dark .lf-sidenav-menu .nav-link:hover {
    color: #fff;
}

.lf-sidenav-dark .lf-sidenav-menu .nav-link.active {
    color: #fff;
}

.lf-sidenav-dark .lf-sidenav-menu .nav-link.active .lf-nav-link-icon {
    color: #fff;
}

.lf-sidenav-dark .lf-sidenav-footer {
    background-color: #343a40;
}

.lf-sidenav-light {
    background-color: #f8f9fa;
    color: #212529;
}

.lf-sidenav-light .lf-sidenav-menu .lf-sidenav-menu-heading {
    color: #adb5bd;
}

.lf-sidenav-light .lf-sidenav-menu .nav-link {
    color: #212529;
}

.lf-sidenav-light .lf-sidenav-menu .nav-link .lf-nav-link-icon {
    color: #adb5bd;
}

.lf-sidenav-light .lf-sidenav-menu .nav-link .lf-sidenav-collapse-arrow {
    color: #adb5bd;
}

.lf-sidenav-light .lf-sidenav-menu .nav-link:hover {
    color: #02490E;
}

.lf-sidenav-light .lf-sidenav-menu .nav-link.active {
    color: #02490E;
}

.lf-sidenav-light .lf-sidenav-menu .nav-link.active .lf-nav-link-icon {
    color: #02490E;
}

.lf-sidenav-light .lf-sidenav-footer {
    background-color: #e9ecef;
}

.bg-lfi-green {
    background-color: rgba(var(--lfi-green-rgb), var(--lfi-bg-opacity)) !important;
}

.bg-lfi-blue {
    background-color: rgba(var(--lfi-blue-rgb), var(--lfi-bg-opacity)) !important;
}

.text-lfi-green {
    color: rgba(var(--lfi-green-rgb), var(--lfi-bg-opacity)) !important;
}

.text-lfi-blue {
    color: rgba(var(--lfi-blue-rgb), var(--lfi-bg-opacity)) !important;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 200px);
    height: 100%;
    margin-left: 200px;
}

.iframePageMobile {
    width: 375px !important;
    margin-left: calc((calc(100% - 200px) / 2)) !important;
    border-right: 2px solid !important;
    border-left: 2px solid !important;
}

#overlay {
    text-align: center;
    font-size: 50px;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
}

#overlay_text {
    position: absolute;
    top: 50%;
    left: 60%;
    color: #212429;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#overlaySndMessage, #overlayProgress {
    font-size: 30px;
}

.btn {
    background-color: black;
    color: #ffffff;
    border: none;
}

.btn.active {
    background-color: #166713;
    color: #ffffff;
}

.btn:hover {
    box-shadow: 0 0 0 4px #02490E;
    background-color: #166713;
    transition: all .5s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}


.truncate {
    max-width: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link200 {
    background-color: green;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.link301 {
    background-color: orange;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

.link404 {
    background-color: red;
    padding: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

div.dataTables_wrapper div.dataTables_length {
    width: 25%;
    float: left;
}

div.dataTables_wrapper div.dataTables_filter {
    width: 25%;
    float: right;
}

div.dt-buttons {
    float: right;
    padding-left: 10px;
}

td.dataTables_empty {
    color: rgba(var(--lfi-green-rgb));
}